---
###############################################################
#                         Users Database                      #
###############################################################

# This file can be used if you do not have an LDAP set up.

# List of users
users:
  yosef:
    displayname: "Randy W. Sims"
    # Password is authelia
    password: "$argon2id$v=19$m=1024,t=1,p=8$N3hldGtqSkNodjIwUlhFRA$OVrSHXC5fz83wNhh1ZXH/6glCx19AnMlclD//dzQna4"
    email: admin@mysmarthome.network
    groups:
      - admins
      - dev
...
